@model DieCupModel
@{
    var results = "results";
}
<p>
    @using (Ajax.BeginForm(MVC.Home.Roll(), new AjaxOptions()
    {
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = results
    }))
    {

        @Html.EditorForModel()
        @Html.ValidationSummary()
        <input type="submit" value="Roll" />
        <input type="reset" value="Reset" onclick="$('#@results').html('')" />
    }
</p>
<p>
    Results:
    <div id="@results">
        No results yet...
    </div>
</p>

