@model DieCupModel
@{
    var results = "results";
    var noResults = "No results yet...";
}
<p>
    @using (Ajax.BeginForm(MVC.Home.Roll(), new AjaxOptions()
    {
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = results
    }))
    {
        @Html.EditorForModel()
        <input type="submit" value="Roll" />
        <input type="reset" value="Reset" onclick="$('#@results').html('@noResults')" />
    }
</p>
<p>
    Results:
    <div id="@results">
        @noResults
    </div>
</p>

